body {
    padding: 0;
    margin: 0;
    /* background-color: #26394d !important; */
}

#div1 {
    display: flex;
    flex-direction: row;
}

#div1box {
    display: flex;
    flex-direction: row;
    padding: 10px;
    width: 90%;
    align-items: center;
}

.mainicon {
    color: white;
    background-color: dodgerblue;
    padding: 10px;
    border-radius: 6px;
    margin: 0 20px;
    font-size: 1.6em;
}

#div1boxinner {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#div1boxinner p {
    margin: 0;
    font-size: 1.2em;
}

#div1boxinner a {
    color: white;
    text-decoration: none;
}

.dashspan {
    color: grey;
}

#investmentbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px;
}

#investmentboxinner {
    width: 80%;
    background-color: rgba(0, 167, 145, 0.555);
    color: white;
    -webkit-box-shadow: 0 0 5px 0 rgb(0 0 0 / 20%), 0 11px 6px -7px rgb(0 0 0 / 20%);
    box-shadow: 0 0 5px 0 rgb(0 0 0 / 20%), 0 11px 6px -7px rgb(0 0 0 / 20%);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
}

#investmentboxinner button {
    margin: 10px 0;
}

.investmenttitle {
    background-color: dodgerblue;
    color: white;
    text-align: center;
    padding: 10px;
}



.investmentinfo {
    display: flex;
    flex-direction: column;
    word-break: break-word;
    padding: 20px;
}

.investmentinfo h4 {
    margin: 5px 0;
    border-bottom: 4px solid rgb(7, 103, 199);
    align-self: flex-start;
}

.investmentinfo p {
    border-bottom: 0.9px solid white;
}

.action {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.actionboxbutton1 {
    background-color: gray !important;
    padding: 10px !important;
    margin: 8px 0;
}

.actionboxbutton1 li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.addfundsform {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.addfundsforminput {
    width: 100%;
    padding: 6px 12px;
    margin: 5px;
}

.addfundsforminput::placeholder {
    color: black;
}

.modal {
    color: black;
}


#depositbox {
    margin-top: 20px;
    margin-bottom: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#depositmethodbox {
    width: 100%;
    align-self: flex-start;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    padding: 0 20px;
}

.depositmethodboxclass {
    -webkit-box-shadow: 0 0 5px 0 rgb(0 0 0 / 20%), 0 11px 6px -7px rgb(0 0 0 / 20%);
    box-shadow: 0 0 5px 0 rgb(0 0 0 / 20%), 0 11px 6px -7px rgb(0 0 0 / 20%);
    width: 60%;
    border: 1.5px solid rgb(255, 143, 14);
    border-radius: 10px;
    padding: 10px 20px;
    font-family: 'Oswald', sans-serif;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.depositviewtitle {
    border-bottom: 1px solid rgb(255, 143, 14);
    width: 100%;
    text-align: center;
}

.depositmethodboxclass p {
    margin: 0;
}

.depositmethodboxclass span {
    margin: 5px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9em;
}

.depositimgbox {
    border-top: 1.4px solid grey;
    border-bottom: 1.4px solid grey;
    padding: 5px;
}

.depositimg {
    width: 150px;
}

.depositmethodboxaction {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}


.depositmethodboxaction button {
    width: 100%;
    margin: 5px 0;
}

.modalbtn {
    width: 100%;
}


@media (max-width:890px) {
    #depositmethodbox {
        flex-direction: column;
    }
    .depositmethodboxclass {
        width: 100%;
        overflow-wrap: break-word;
    }
}