<footer class="container-fluid">
    <div class="container d-flex flex-wrap justify-content-between footer-wrapper">
    <div class="d-none d-md-block footer-logo"> <img src="/img/whitelogo.png" alt="Crypto Peak" class="img-fluid" /></div>
    <div class="d-flex justify-content-center footer-menu">
    <div class="footer-menu-1"><h4>About us</h4>
    <div class="menu-about-us-container"><ul id="menu-about-us" class="menu">
        <li id="menu-item-2005" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2005"><a href="/store">Store</a></li>
        <li id="menu-item-4252" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4252"><a href="/sign_up">Sign Up</a></li>
        <li id="menu-item-4253" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4253"><a href="/login">Sign In</a></li>
        </ul>
        </div>
    </div>
    <div class="footer-menu-2"><h4>Legal</h4><div class="menu-legal-container">
        <ul id="menu-legal" class="menu">
            <li id="menu-item-83" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-83"><a href="/contact_us">Contact Us</a></li>
            <li id="menu-item-314" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-privacy-policy menu-item-314"><a href="/privacy_policy">Privacy Policy</a></li>
            <li id="menu-item-4113" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4113"><a href="/terms">Terms and Conditions</a></li>
            <li id="menu-item-3563" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3563"><a href="/news">Crypto News</a></li></ul></div></div></div><div class="d-none d-lg-block"><div class="card social-media"><div class="card-body"><div class="d-flex align-items-center social-media-row"><div class="d-flex justify-content-between social-media-links"> 
                <a href="#" target="_blank"> <img src="/wp-content/themes/cyberian-mine/assets/images/facebook.png" alt="facebook" /> </a> 
                <a href="#" target="_blank"> <img src="/wp-content/themes/cyberian-mine/assets/images/twitter.png" alt="twitter" /> </a> 
                <a href="#" target="_blank"> <img src="/wp-content/themes/cyberian-mine/assets/images/instagram.png" alt="instagram" /> </a></div><div class="social"> <b>Find us on Social Media!</b></div></div><div class="d-flex align-items-center telegram-row"><div class="social-media-telegram"> <a href="#" target="_blank"> <img src="/wp-content/themes/cyberian-mine/assets/images/telegram.png" alt="telegram" /> </a></div><div class="telegram-text">
                <p>If you scrolled this far and you’re still looking to learn more about Crypto Peak.</p>
                <p>Then Please check out our Telegram Channel!</p></div></div></div></div></div>
                <div class="d-block d-lg-none"><div class="d-flex mobile-wrapper">
                    <div class="d-flex flex-wrap social-media-links"> 
                        <a href="/external.html?link=https://www.facebook.com/cyberianmine" target="_blank"> <img src="/wp-content/themes/cyberian-mine/assets/images/facebook.png" alt="facebook" /> </a> 
                        <a href="#" target="_blank"> <img src="/wp-content/themes/cyberian-mine/assets/images/twitter.png" alt="twitter" /> </a> <a href="/external.html?link=https://www.instagram.com/cyberianmine/" target="_blank"> <img src="/wp-content/themes/cyberian-mine/assets/images/instagram.png" alt="instagram" /> </a> <a href="/external.html?link=https://t.me/Cyberianmine" target="_blank"> <img src="/wp-content/themes/cyberian-mine/assets/images/telegram.png" alt="telegram" /> </a></div><div class="d-flex flex-column justify-content-center"><h5>Find us on Social Media!</h5><h6>#Last mine Standing</h6></div></div></div></div>
        </footer>
                        <section class="container-fluid copyright-section"><div class="container"> All rights reserved. Copyright &copy; Crypto Peak</div></section>   
                        <noscript><iframe src="/external.html?link=https://www.googletagmanager.com/ns.html?id=GTM-P8NNNV9" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>  
                        <script data-cfasync="false" src="cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>

