#head {
    width: 100%;
    z-index: 5;
}

.margintop {
    margin: 20px 0;
}

.darkbg {
    background-color: rgba(2, 2, 2, 0.842) !important;
    color: white;
}

.darkbg h1 {
    color: rgb(11, 202, 91);
    font-family: 'Bakbak One', cursive;
} 

.darkbg p {
    color: white;
}

.darkbluebg {
    background-color: rgb(11, 51, 112);
}

.darkbluebg h2 {
    color: rgb(0, 182, 76) !important;
}

.darkbluebg h4 {
    color: rgb(253, 255, 254) !important;
}

.registerlink {
    background-color: rgb(10, 116, 255) !important;
}

.registerlink:hover {
    background-color: rgb(0, 182, 76) !important;
}

.loginlink {
    background-color: white;
    color: rgb(17, 109, 201) !important;

}

.loginlink:hover {
    background-color: rgb(0, 182, 76) !important;
    color: white !important;
}

.blueicon {
    color: rgb(11, 71, 182) !important;
}

.whitecolor {
    color: white;
}

.milkcolor {
    color: rgb(179, 166, 166);
}

.redcolor {
    color: red !important;
}

.bluebg {
    background-color: rgb(11, 71, 182) !important;
}

.blackbg {
    background-color: black;
}

.in-heading-extra {
    border-left: 7px solid  rgb(11, 71, 182) !important;
}

.flashbox {
    width: 100%;
    padding: 10px 20px;
}
  
    /* The alert message box */
  .flashboxsuccess-alert {
      padding: 10px 30px;
      background-color: #07bd68;
      border: 1px solid #058046;
      border-radius: 5px;
      color: white;
      margin: 15px 0;
    }
    
    /* The close button */
    .flashboxsuccess-closebtn {
      margin-left: 15px;
      color: white;
      font-weight: bold;
      float: right;
      font-size: 22px;
      line-height: 20px;
      cursor: pointer;
      transition: 0.3s;
    }
    
    /* When moving the mouse over the close button */
    .flashboxsuccess-closebtn:hover {
      color: black;
    }
  
  .flashboxerror-alert {
      padding: 10px 30px;
      background-color: #f44336; /* Red */
      border: 1px solid rgb(165, 9, 9);
      border-radius: 5px;
      color: white;
      margin: 15px 0;
    }
    
    /* The close button */
    .flashboxerror-closebtn {
      margin-left: 15px;
      color: white;
      font-weight: bold;
      float: right;
      font-size: 22px;
      line-height: 20px;
      cursor: pointer;
      transition: 0.3s;
    }
    
    /* When moving the mouse over the close button */
    .flashboxerror-closebtn:hover {
      color: black;
    }
  
  /* #navbar-nav {
    display: flex !important; 
    flex-direction: row !important;
  }

  @media (max-width:990px) {
    #navbar-nav {
        flex-direction: column !important;
      }
} */

#navbox {
    background-color: rgb(23, 62, 146) !important;
    height: 200px;
}

.nav-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

/* .navbar-toggler {
    background-color: aliceblue !important;
} */

.fa-bars {
    color: rgb(255, 255, 255);
}

#navbar {
    background-color: transparent !important;
    width: 100%;
}

#navbarNav {
    width: 100%;
}

.navbar-nav {
    width: 100%;
    display: flex !important; 
    flex-direction: row !important;
    align-items: center;
    justify-content: space-around;
  }

  .navbar-nav a {
    color: rgb(255, 255, 255);
    width: 100%;
    display: inline-block;
  }
  /* class="sticky-header main-bar-wraper is-fixed color-fill" */

.header-style-3 .is-fixed.color-fill .main-bar {
    background-color: rgb(23, 62, 146) !important;
}

.header-style-3 .is-fixed.color-fill .main-bar .navbar-nav a {
    color: rgb(255, 255, 255);
  }

  @media only screen and (max-width:767px) {
    .header-style-3.topbar-transparent{
        background-color: rgb(23, 62, 146) !important;
    }	 
  }
/* .text-primary {
    color: rgb(255, 174, 0) !important;
}

.bg-primary {
    background-color: rgb(255, 174, 0) !important;
} */

  @media (max-width:990px) {
    .navbar-nav {
        flex-direction: column !important;
        align-items: flex-start;
        width: 100%;
      }
    #navbarNav {
        background-color: rgb(255, 255, 255);
        /* padding: 20px 0;
        padding-bottom: 0; */
    }
    .navbar-nav a {
        margin-left: 10px;
        color: rgb(0, 38, 255) !important;
    }
    .navbar-nav li {
        border-bottom: 1px solid rgb(204, 204, 204);
        width: 100%;
        padding: 10px 5px;
    }
    .navbar-nav li:hover {
        cursor: pointer;
        background-color: rgb(247, 247, 247);
    }
}

@media (max-width:550px) {
    .topnav {
        display: flex !important;
        flex-direction: column !important;
    }
}