<!DOCTYPE html>
<html lang="zxx" dir="ltr">

<head>
    <!-- Standard Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#e9e8f0" />
    <!-- Site Properties -->
    <title>Crypto Peak || Sign Up</title>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon-precomposed" href="/apple-touch-icon.png">
    <!-- Stylesheet -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />    

    <link rel="stylesheet" href="/stylesheets/homepage/uikit.min.css">
    <link rel="stylesheet" href="/stylesheets/homepage/style.css">
    <link rel="stylesheet" href="/stylesheets/homepage/mystyle.css">
</head>

<body class="darkbg">
    <!-- preloader begin -->
    <div class="in-loader">
        <div></div>
        <div></div>
        <div></div>
    </div>
    <!-- preloader end -->
    <main>
        <!-- section content begin -->
        <div class="uk-section uk-padding-remove-vertical">
            <div class="uk-container uk-container-expand">
                <div class="uk-grid" data-uk-height-viewport="expand: true">
                    <div class="uk-width-3-5@m uk-background-cover uk-background-center-right uk-visible@m uk-box-shadow-xlarge" style="background-image: url(/img/miner1.gif); padding: 0;">
                        <div style="width:100%; height: 100%; margin: 0; padding: 0;">

                        </div>
                    </div>
                    <div class="uk-width-expand@m uk-flex uk-flex-middle">
                        <div class="uk-grid uk-flex-center">
                            <div class="uk-width-3-5@m">
                                <div class="in-padding-horizontal@s margintop">
                                    <!-- module logo begin -->
                                    <a class="uk-logo" href="/">
                                        <img class="in-offset-top-10" src="/img/whitelogo.png" data-src="/img/whitelogo.png" alt="logo" width="220" height="90" data-uk-img>
                                    </a>
                                    <!-- module logo begin -->
                                    <p class="uk-text-lead uk-margin-top uk-margin-remove-bottom">Sign Up</p>
                                    <p class="uk-text-small uk-margin-remove-top uk-margin-medium-bottom">Already have an account? <a href="/login" class="blueicon">Login here</a></p>
                                    <!-- login form begin -->
                                    <div class="flashbox">
                                        <% if(success && success.length) { %>
                                               <div class="flashboxsuccess-alert">
                                                   <%= success %> 
                                                   <span class="flashboxsuccess-closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                                                   
                                               </div>
                                           <% } %> 
                                       
                                           <% if(error && error.length) { %>
                                                   <div class="flashboxerror-alert">
                                                       <%= error %> 
                                                       <span class="flashboxerror-closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                                                       
                                                   </div>
                                           <% } %> 
                                           
                                    </div>

                                    <form action="/register_newUser" method="post" class="uk-grid uk-form">
                                        
                                        
                                      <div class="uk-margin-small uk-width-1-1 uk-inline">
                                          <span class="uk-form-icon uk-form-icon-flip fas fa-user fa-sm"></span>
                                          <input class="uk-input uk-border-rounded" value="" type="text" name="firstname" placeholder="First Name" required>
                                      </div>
                                      <div class="uk-margin-small uk-width-1-1 uk-inline">
                                          <span class="uk-form-icon uk-form-icon-flip fas fa-user fa-sm"></span>
                                          <input class="uk-input uk-border-rounded" value="" type="text" name="lastname" placeholder="Last Name"required>
                                      </div>
                                      <div class="uk-margin-small uk-width-1-1 uk-inline">
                                          <span class="uk-form-icon uk-form-icon-flip fas fa-user fa-sm"></span>
                                          <input class="uk-input uk-border-rounded" value="" type="email" name="email" placeholder="Email" required>
                                      </div>
                                      <div class="uk-margin-small uk-width-1-1 uk-inline">
                                          <span class="uk-form-icon uk-form-icon-flip fas fa-phone fa-sm"></span>
                                          <input class="uk-input uk-border-rounded" value="" type="tel" name="phonenumber" placeholder="Phone Number" required>
                                      </div>
                                      <div class="uk-margin-small uk-width-1-1 uk-inline">
                                          <span class="uk-form-icon uk-form-icon-flip fas fa-lock fa-sm"></span>
                                          <input class="uk-input uk-border-rounded" id="password" value="" type="password" name="password" placeholder="Password" required>
                                      </div>
                                      <div class="uk-margin-small uk-width-1-1 uk-inline">
                                          <span class="uk-form-icon uk-form-icon-flip fas fa-lock fa-sm"></span>
                                          <input class="uk-input uk-border-rounded" id="password" value="" type="password" name="confirmpassword" placeholder="Confirm Password" required>
                                      </div>

                                      <div class="g-recaptcha" data-sitekey="6LeiN7MnAAAAAC_7BD0QtD8bjk2BuPMlUDh7Tasp"></div>

                                      <div class="uk-margin-small uk-width-1-1">
                                          <button class="uk-button uk-width-1-1 uk-button-primary uk-border-rounded uk-float-left bluebg" type="submit" name="submit">Sign Up</button>
                                      </div>
                                  </form>
                                    <!-- login form end -->
                                    <!-- <p class="uk-heading-line uk-text-center"><span>Or sign in with</span></p>
                                    <div class="uk-margin-medium-bottom uk-text-center">
                                        <a class="uk-button uk-button-small uk-border-rounded in-brand-google" href="#"><i class="fab fa-google uk-margin-small-right"></i>Google</a>
                                        <a class="uk-button uk-button-small uk-border-rounded in-brand-facebook" href="#"><i class="fab fa-facebook-f uk-margin-small-right"></i>Facebook</a>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- section content end -->
    </main>
    <!-- Javascript -->
    <script src="/script/js/vendors/uikit.min.js"></script>
    <script src="/script/js/vendors/indonez.min.js"></script>
    
</body>




</html>