<!doctype html><html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terms</title><style type="text/css"> img.wp-smiley,
img.emoji {
 display: inline !important;
 border: none !important;
 box-shadow: none !important;
 height: 1em !important;
 width: 1em !important;
 margin: 0 0.07em !important;
 vertical-align: -0.1em !important;
 background: none !important;
 padding: 0 !important;
} </style><link rel='stylesheet' id='wp-block-library-css' href='/wp-includes/css/dist/block-library/style.min6a4d.css' type='text/css' media='all' /> <style id='wp-block-library-theme-inline-css' type='text/css'> .wp-block-audio figcaption{color:#555;font-size:13px;text-align:center}.is-dark-theme .wp-block-audio figcaption{color:hsla(0,0%,100%,.65)}.wp-block-audio{margin:0 0 1em}.wp-block-code{border:1px solid #ccc;border-radius:4px;font-family:Menlo,Consolas,monaco,monospace;padding:.8em 1em}.wp-block-embed figcaption{color:#555;font-size:13px;text-align:center}.is-dark-theme .wp-block-embed figcaption{color:hsla(0,0%,100%,.65)}.wp-block-embed{margin:0 0 1em}.blocks-gallery-caption{color:#555;font-size:13px;text-align:center}.is-dark-theme .blocks-gallery-caption{color:hsla(0,0%,100%,.65)}.wp-block-image figcaption{color:#555;font-size:13px;text-align:center}.is-dark-theme .wp-block-image figcaption{color:hsla(0,0%,100%,.65)}.wp-block-image{margin:0 0 1em}.wp-block-pullquote{border-top:4px solid;border-bottom:4px solid;margin-bottom:1.75em;color:currentColor}.wp-block-pullquote__citation,.wp-block-pullquote cite,.wp-block-pullquote footer{color:currentColor;text-transform:uppercase;font-size:.8125em;font-style:normal}.wp-block-quote{border-left:.25em solid;margin:0 0 1.75em;padding-left:1em}.wp-block-quote cite,.wp-block-quote footer{color:currentColor;font-size:.8125em;position:relative;font-style:normal}.wp-block-quote.has-text-align-right{border-left:none;border-right:.25em solid;padding-left:0;padding-right:1em}.wp-block-quote.has-text-align-center{border:none;padding-left:0}.wp-block-quote.is-large,.wp-block-quote.is-style-large,.wp-block-quote.is-style-plain{border:none}.wp-block-search .wp-block-search__label{font-weight:700}.wp-block-search__button{border:1px solid #ccc;padding:.375em .625em}:where(.wp-block-group.has-background){padding:1.25em 2.375em}.wp-block-separator.has-css-opacity{opacity:.4}.wp-block-separator{border:none;border-bottom:2px solid;margin-left:auto;margin-right:auto}.wp-block-separator.has-alpha-channel-opacity{opacity:1}.wp-block-separator:not(.is-style-wide):not(.is-style-dots){width:100px}.wp-block-separator.has-background:not(.is-style-dots){border-bottom:none;height:1px}.wp-block-separator.has-background:not(.is-style-wide):not(.is-style-dots){height:2px}.wp-block-table{margin:"0 0 1em 0"}.wp-block-table thead{border-bottom:3px solid}.wp-block-table tfoot{border-top:3px solid}.wp-block-table td,.wp-block-table th{word-break:normal}.wp-block-table figcaption{color:#555;font-size:13px;text-align:center}.is-dark-theme .wp-block-table figcaption{color:hsla(0,0%,100%,.65)}.wp-block-video figcaption{color:#555;font-size:13px;text-align:center}.is-dark-theme .wp-block-video figcaption{color:hsla(0,0%,100%,.65)}.wp-block-video{margin:0 0 1em}.wp-block-template-part.has-background{padding:1.25em 2.375em;margin-top:0;margin-bottom:0} </style> <style id='global-styles-inline-css' type='text/css'> body{--wp--preset--color--black: #000000;--wp--preset--color--cyan-bluish-gray: #abb8c3;--wp--preset--color--white: #ffffff;--wp--preset--color--pale-pink: #f78da7;--wp--preset--color--vivid-red: #cf2e2e;--wp--preset--color--luminous-vivid-orange: #ff6900;--wp--preset--color--luminous-vivid-amber: #fcb900;--wp--preset--color--light-green-cyan: #7bdcb5;--wp--preset--color--vivid-green-cyan: #00d084;--wp--preset--color--pale-cyan-blue: #8ed1fc;--wp--preset--color--vivid-cyan-blue: #0693e3;--wp--preset--color--vivid-purple: #9b51e0;--wp--preset--color--white-transparent: #ffffff26;--wp--preset--color--cm-orange: #FBAC18;--wp--preset--color--cm-mid-blue: #005BA3;--wp--preset--gradient--vivid-cyan-blue-to-vivid-purple: linear-gradient(135deg,rgba(6,147,227,1) 0%,rgb(155,81,224) 100%);--wp--preset--gradient--light-green-cyan-to-vivid-green-cyan: linear-gradient(135deg,rgb(122,220,180) 0%,rgb(0,208,130) 100%);--wp--preset--gradient--luminous-vivid-amber-to-luminous-vivid-orange: linear-gradient(135deg,rgba(252,185,0,1) 0%,rgba(255,105,0,1) 100%);--wp--preset--gradient--luminous-vivid-orange-to-vivid-red: linear-gradient(135deg,rgba(255,105,0,1) 0%,rgb(207,46,46) 100%);--wp--preset--gradient--very-light-gray-to-cyan-bluish-gray: linear-gradient(135deg,rgb(238,238,238) 0%,rgb(169,184,195) 100%);--wp--preset--gradient--cool-to-warm-spectrum: linear-gradient(135deg,rgb(74,234,220) 0%,rgb(151,120,209) 20%,rgb(207,42,186) 40%,rgb(238,44,130) 60%,rgb(251,105,98) 80%,rgb(254,248,76) 100%);--wp--preset--gradient--blush-light-purple: linear-gradient(135deg,rgb(255,206,236) 0%,rgb(152,150,240) 100%);--wp--preset--gradient--blush-bordeaux: linear-gradient(135deg,rgb(254,205,165) 0%,rgb(254,45,45) 50%,rgb(107,0,62) 100%);--wp--preset--gradient--luminous-dusk: linear-gradient(135deg,rgb(255,203,112) 0%,rgb(199,81,192) 50%,rgb(65,88,208) 100%);--wp--preset--gradient--pale-ocean: linear-gradient(135deg,rgb(255,245,203) 0%,rgb(182,227,212) 50%,rgb(51,167,181) 100%);--wp--preset--gradient--electric-grass: linear-gradient(135deg,rgb(202,248,128) 0%,rgb(113,206,126) 100%);--wp--preset--gradient--midnight: linear-gradient(135deg,rgb(2,3,129) 0%,rgb(40,116,252) 100%);--wp--preset--duotone--dark-grayscale: url('#wp-duotone-dark-grayscale');--wp--preset--duotone--grayscale: url('#wp-duotone-grayscale');--wp--preset--duotone--purple-yellow: url('#wp-duotone-purple-yellow');--wp--preset--duotone--blue-red: url('#wp-duotone-blue-red');--wp--preset--duotone--midnight: url('#wp-duotone-midnight');--wp--preset--duotone--magenta-yellow: url('#wp-duotone-magenta-yellow');--wp--preset--duotone--purple-green: url('#wp-duotone-purple-green');--wp--preset--duotone--blue-orange: url('#wp-duotone-blue-orange');--wp--preset--font-size--small: 13px;--wp--preset--font-size--medium: 20px;--wp--preset--font-size--large: 36px;--wp--preset--font-size--x-large: 42px;--wp--preset--font-size--base: 16;--wp--preset--font-family--barlow: 'Barlow', sans-serif;--wp--preset--spacing--20: 0.44rem;--wp--preset--spacing--30: 0.67rem;--wp--preset--spacing--40: 1rem;--wp--preset--spacing--50: 1.5rem;--wp--preset--spacing--60: 2.25rem;--wp--preset--spacing--70: 3.38rem;--wp--preset--spacing--80: 5.06rem;}body { margin: 0; }.wp-site-blocks > .alignleft { float: left; margin-right: 2em; }.wp-site-blocks > .alignright { float: right; margin-left: 2em; }.wp-site-blocks > .aligncenter { justify-content: center; margin-left: auto; margin-right: auto; }:where(.is-layout-flex){gap: 0.5em;}body .is-layout-flow > .alignleft{float: left;margin-inline-start: 0;margin-inline-end: 2em;}body .is-layout-flow > .alignright{float: right;margin-inline-start: 2em;margin-inline-end: 0;}body .is-layout-flow > .aligncenter{margin-left: auto !important;margin-right: auto !important;}body .is-layout-constrained > .alignleft{float: left;margin-inline-start: 0;margin-inline-end: 2em;}body .is-layout-constrained > .alignright{float: right;margin-inline-start: 2em;margin-inline-end: 0;}body .is-layout-constrained > .aligncenter{margin-left: auto !important;margin-right: auto !important;}body .is-layout-constrained > :where(:not(.alignleft):not(.alignright):not(.alignfull)){max-width: var(--wp--style--global--content-size);margin-left: auto !important;margin-right: auto !important;}body .is-layout-constrained > .alignwide{max-width: var(--wp--style--global--wide-size);}body .is-layout-flex{display: flex;}body .is-layout-flex{flex-wrap: wrap;align-items: center;}body .is-layout-flex > *{margin: 0;}body{font-family: var(--wp--preset--font-family--barlow);font-size: 16px;line-height: 1.5;padding-top: 0px;padding-right: 0px;padding-bottom: 0px;padding-left: 0px;}a:where(:not(.wp-element-button)){text-decoration: underline;}.wp-element-button, .wp-block-button__link{background-color: #32373c;border-width: 0;color: #fff;font-family: inherit;font-size: inherit;line-height: inherit;padding: calc(0.667em + 2px) calc(1.333em + 2px);text-decoration: none;}.has-black-color{color: var(--wp--preset--color--black) !important;}.has-cyan-bluish-gray-color{color: var(--wp--preset--color--cyan-bluish-gray) !important;}.has-white-color{color: var(--wp--preset--color--white) !important;}.has-pale-pink-color{color: var(--wp--preset--color--pale-pink) !important;}.has-vivid-red-color{color: var(--wp--preset--color--vivid-red) !important;}.has-luminous-vivid-orange-color{color: var(--wp--preset--color--luminous-vivid-orange) !important;}.has-luminous-vivid-amber-color{color: var(--wp--preset--color--luminous-vivid-amber) !important;}.has-light-green-cyan-color{color: var(--wp--preset--color--light-green-cyan) !important;}.has-vivid-green-cyan-color{color: var(--wp--preset--color--vivid-green-cyan) !important;}.has-pale-cyan-blue-color{color: var(--wp--preset--color--pale-cyan-blue) !important;}.has-vivid-cyan-blue-color{color: var(--wp--preset--color--vivid-cyan-blue) !important;}.has-vivid-purple-color{color: var(--wp--preset--color--vivid-purple) !important;}.has-white-transparent-color{color: var(--wp--preset--color--white-transparent) !important;}.has-cm-orange-color{color: var(--wp--preset--color--cm-orange) !important;}.has-cm-mid-blue-color{color: var(--wp--preset--color--cm-mid-blue) !important;}.has-black-background-color{background-color: var(--wp--preset--color--black) !important;}.has-cyan-bluish-gray-background-color{background-color: var(--wp--preset--color--cyan-bluish-gray) !important;}.has-white-background-color{background-color: var(--wp--preset--color--white) !important;}.has-pale-pink-background-color{background-color: var(--wp--preset--color--pale-pink) !important;}.has-vivid-red-background-color{background-color: var(--wp--preset--color--vivid-red) !important;}.has-luminous-vivid-orange-background-color{background-color: var(--wp--preset--color--luminous-vivid-orange) !important;}.has-luminous-vivid-amber-background-color{background-color: var(--wp--preset--color--luminous-vivid-amber) !important;}.has-light-green-cyan-background-color{background-color: var(--wp--preset--color--light-green-cyan) !important;}.has-vivid-green-cyan-background-color{background-color: var(--wp--preset--color--vivid-green-cyan) !important;}.has-pale-cyan-blue-background-color{background-color: var(--wp--preset--color--pale-cyan-blue) !important;}.has-vivid-cyan-blue-background-color{background-color: var(--wp--preset--color--vivid-cyan-blue) !important;}.has-vivid-purple-background-color{background-color: var(--wp--preset--color--vivid-purple) !important;}.has-white-transparent-background-color{background-color: var(--wp--preset--color--white-transparent) !important;}.has-cm-orange-background-color{background-color: var(--wp--preset--color--cm-orange) !important;}.has-cm-mid-blue-background-color{background-color: var(--wp--preset--color--cm-mid-blue) !important;}.has-black-border-color{border-color: var(--wp--preset--color--black) !important;}.has-cyan-bluish-gray-border-color{border-color: var(--wp--preset--color--cyan-bluish-gray) !important;}.has-white-border-color{border-color: var(--wp--preset--color--white) !important;}.has-pale-pink-border-color{border-color: var(--wp--preset--color--pale-pink) !important;}.has-vivid-red-border-color{border-color: var(--wp--preset--color--vivid-red) !important;}.has-luminous-vivid-orange-border-color{border-color: var(--wp--preset--color--luminous-vivid-orange) !important;}.has-luminous-vivid-amber-border-color{border-color: var(--wp--preset--color--luminous-vivid-amber) !important;}.has-light-green-cyan-border-color{border-color: var(--wp--preset--color--light-green-cyan) !important;}.has-vivid-green-cyan-border-color{border-color: var(--wp--preset--color--vivid-green-cyan) !important;}.has-pale-cyan-blue-border-color{border-color: var(--wp--preset--color--pale-cyan-blue) !important;}.has-vivid-cyan-blue-border-color{border-color: var(--wp--preset--color--vivid-cyan-blue) !important;}.has-vivid-purple-border-color{border-color: var(--wp--preset--color--vivid-purple) !important;}.has-white-transparent-border-color{border-color: var(--wp--preset--color--white-transparent) !important;}.has-cm-orange-border-color{border-color: var(--wp--preset--color--cm-orange) !important;}.has-cm-mid-blue-border-color{border-color: var(--wp--preset--color--cm-mid-blue) !important;}.has-vivid-cyan-blue-to-vivid-purple-gradient-background{background: var(--wp--preset--gradient--vivid-cyan-blue-to-vivid-purple) !important;}.has-light-green-cyan-to-vivid-green-cyan-gradient-background{background: var(--wp--preset--gradient--light-green-cyan-to-vivid-green-cyan) !important;}.has-luminous-vivid-amber-to-luminous-vivid-orange-gradient-background{background: var(--wp--preset--gradient--luminous-vivid-amber-to-luminous-vivid-orange) !important;}.has-luminous-vivid-orange-to-vivid-red-gradient-background{background: var(--wp--preset--gradient--luminous-vivid-orange-to-vivid-red) !important;}.has-very-light-gray-to-cyan-bluish-gray-gradient-background{background: var(--wp--preset--gradient--very-light-gray-to-cyan-bluish-gray) !important;}.has-cool-to-warm-spectrum-gradient-background{background: var(--wp--preset--gradient--cool-to-warm-spectrum) !important;}.has-blush-light-purple-gradient-background{background: var(--wp--preset--gradient--blush-light-purple) !important;}.has-blush-bordeaux-gradient-background{background: var(--wp--preset--gradient--blush-bordeaux) !important;}.has-luminous-dusk-gradient-background{background: var(--wp--preset--gradient--luminous-dusk) !important;}.has-pale-ocean-gradient-background{background: var(--wp--preset--gradient--pale-ocean) !important;}.has-electric-grass-gradient-background{background: var(--wp--preset--gradient--electric-grass) !important;}.has-midnight-gradient-background{background: var(--wp--preset--gradient--midnight) !important;}.has-small-font-size{font-size: var(--wp--preset--font-size--small) !important;}.has-medium-font-size{font-size: var(--wp--preset--font-size--medium) !important;}.has-large-font-size{font-size: var(--wp--preset--font-size--large) !important;}.has-x-large-font-size{font-size: var(--wp--preset--font-size--x-large) !important;}.has-base-font-size{font-size: var(--wp--preset--font-size--base) !important;}.has-barlow-font-family{font-family: var(--wp--preset--font-family--barlow) !important;}
.wp-block-navigation a:where(:not(.wp-element-button)){color: inherit;}
:where(.wp-block-columns.is-layout-flex){gap: 2em;}
.wp-block-pullquote{font-size: 1.5em;line-height: 1.6;} </style><link rel='stylesheet' id='contact-form-7-css' href='/wp-content/plugins/contact-form-7/includes/css/contact-form-7.min6725.css' type='text/css' media='all' /><link rel='stylesheet' id='essential-grid-plugin-settings-css' href='/wp-content/plugins/essential-grid/public/assets/css/essential-grid-plugin-settings.min9254.css' type='text/css' media='all' /><link rel='stylesheet' id='tp-fontello-css' href='/wp-content/plugins/essential-grid/public/assets/font/fontello/css/tp-fontello.min9254.css' type='text/css' media='all' /><link rel='stylesheet' id='google-fonts-css' href='/external.html?link=https://fonts.googleapis.com/css2?family=Barlow%3Awght%40300%3B400%3B600%3B700&amp;display=swap&amp;ver=6.1.1' type='text/css' media='all' /><link rel='stylesheet' id='bootstrap-css' href='/cdn.jsdelivr.net/npm/bootstrap%405.1.3/dist/css/bootstrap.min6a4d.css' type='text/css' media='all' /><link rel='stylesheet' id='bootstrap-override-css' href='/wp-content/themes/cyberian-mine/assets/css/bootstrap-override.min6a4d.css' type='text/css' media='all' /><link rel='stylesheet' id='owl-carousel-css' href='/wp-content/themes/cyberian-mine/assets/css/owl.carousel.min6a4d.css' type='text/css' media='all' /><link rel='stylesheet' id='owl-theme-funnelfairy-css' href='/wp-content/themes/cyberian-mine/assets/css/owl-theme-funnelfairy.min6a4d.css' type='text/css' media='all' /><link rel='stylesheet' id='cyberian-mine-css' href='/wp-content/themes/cyberian-mine/cyberian-mine.min4963.css' type='text/css' media='all' /><link rel='stylesheet' id='cyberian-mine-responsive-css' href='/wp-content/themes/cyberian-mine/assets/css/cyberian-mine-responsive.min5152.css' type='text/css' media='all' /> <script type='text/javascript' src='/wp-includes/js/jquery/jquery.mina7a0.js' id='jquery-core-js'></script><link rel="https://api.w.org/" href="/wp-json/index.html" /><link rel="alternate" type="application/json" href="/wp-json/wp/v2/pages/3915.json" /><link rel="EditURI" type="application/rsd+xml" title="RSD" href="/xmlrpc0db0.html" /><link rel="wlwmanifest" type="application/wlwmanifest+xml" href="/wp-includes/wlwmanifest.html" />
<meta name="generator" content="WordPress 6.1.1" /><link rel='shortlink' href='/indexbc2a.html' /><link rel="alternate" type="application/json+oembed" href="/wp-json/oembed/1.0/embed0655.json" /><link rel="alternate" type="text/xml+oembed" href="/wp-json/oembed/1.0/embed1f6f" />  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'/www.googletagmanager.com/gtm5445.html'+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-P8NNNV9');</script>   
<meta name="facebook-domain-verification" content="rwvda2alch13b5ggn3ihrt68717h6g" />  <script type="text/javascript">//<![CDATA[
 function external_links_in_new_windows_loop() {
 if (!document.links) {
 document.links = document.getElementsByTagName('a');
 }
 var change_link = false;
 var force = '';
 var ignore = '';
 for (var t=0; t<document.links.length; t++) {
 var all_links = document.links[t];
 change_link = false; 
 if(document.links[t].hasAttribute('onClick') == false) {
 // forced if the address starts with http (or also https), but does not link to the current domain
 if(all_links.href.search(/^http/) != -1 && all_links.href.search('cryptopeak.com') == -1 && all_links.href.search(/^#/) == -1) {
 // console.log('Changed ' + all_links.href);
 change_link = true;
 } 
 if(force != '' && all_links.href.search(force) != -1) {
 // forced
 // console.log('force ' + all_links.href);
 change_link = true;
 } 
 if(ignore != '' && all_links.href.search(ignore) != -1) {
 // console.log('ignore ' + all_links.href);
 // ignored
 change_link = false;
 }
 if(change_link == true) {
 // console.log('Changed ' + all_links.href);
 document.links[t].setAttribute('onClick', 'javascript:window.open(\''+all_links.href+'\'); return false;');
 document.links[t].removeAttribute('target');
 }
 }
 }
 } 
 // Load
 function external_links_in_new_windows_load(func)
 { 
 var oldonload = window.onload;
 if (typeof window.onload != 'function'){
 window.onload = func;
 } else {
 window.onload = function(){
 oldonload();
 func();
 }
 }
 }
 external_links_in_new_windows_load(external_links_in_new_windows_loop);
 //]]></script>
 <link rel="icon" href="/img/bluelogo.png" sizes="32x32" />
 <link rel="icon" href="/img/bluelogo.png" sizes="192x192" />
 <link rel="apple-touch-icon" href="/img/bluelogo.png" />
 <meta name="msapplication-TileImage" content="https://cryptopeak.ltd/img/bluelogo.png" /> <style type="text/css" id="wp-custom-css"> /* Header on Blogs */
h1.entry-title {text-align:center;
font-size: 48px;
font-weight: 600;
letter-spacing: 1px;
color: #20292f;
padding-top: 40px;
padding-bottom: 40px;
}
.woocommerce-order{
max-width: 600px;
 margin: 0 auto;
}
.woocommerce-order li {
 list-style-type: none;
}  /* Tablets */
@media all and (max-width:980px) {
 .slideshow-two-columns-left {
 margin-right: 0%!important;
 /*	width: 100%!important; */
 margin-bottom: 25px; 
 }
 .slideshow-two-columns-right {
 width: 100%!important;
 }
 .slideshow-two-columns-right {
 width: 100%; 
 }
 .mobile_menu_bar::before {
 color: white; 
 }
 .slideshow-two-columns-left h1 {
 font-size: 38px; 
 }
 .et_pb_slider .et_pb_container {
 width: 90%; 
 }
 .slideshow-two-columns-left h2 {
 font-size: 18px;
 }
 /* Footer */
 #text-2 .aligncenter {
 float: left; 
 }
 #text-3 .textwidget {
 float: left; 
 }
 #text-2 {
 margin-bottom: 20px!important;
 } 
}
@media all and (max-width:1100px) {
 .footer-bottom-left {
 width: 100%;
 margin-right: 0px;
 }
 #footer-bottom .container {
 width: 90%;
 }
 .footer-bottom-right {
 width: 100%; 
 }
}
.footer-widget .widget_nav_menu {
 margin-top: 0px;
}
@media all and (max-width:590px) {
 .et_pb_fullscreen .header-content-container {
 background: rgba(6,148,207,0.5)!important;
 } 
 span.top-sentence-slideshow {
 font-size: 14px!important;
 letter-spacing: 2.5px!important;
 font-weight: 600!important;
 display: block!important;
 margin-bottom: 10px!important;
 line-height: 140%!important;
 }
 .slideshow-two-columns-left h1 {
 font-size: 40px!important;
 line-height: 140%!important;
 }
 .slideshow-two-columns .large,
 .slideshow-two-columns h4.large {
 font-size: 22px!important;
 line-height: 150%!important;
 }
 .et_pb_fullscreen .header-content-container {
 padding: 26px!important;
 }
 .white-box {
 max-width: 65%;
 }
}
@media only screen and (max-width: 600px) {
 .start-your-order-contact-form input.wpcf7-submit {
 padding: 15px 15px!important;
 font-size: 11px!important;
 }
 .start-your-order-contact-form input.wpcf7-text 	 {
 font-size: 10px; 
 }
}
/****
 * PRICING 
 * ****/
.machine-price-table p {
 font-weight: 700!important;
 font-size: 25px!important;
 color: black!important;
}
.machine-price-table {
 margin: auto; 
 max-width: 960px!important; 
}
/****
 * SLIDESHOW 
 * ****/
.et_pb_slider .et_pb_container {
 width: 100%;
 max-width: 1200px;
}
.slideshow-two-columns-left h1 {
 font-weight: 700;
 font-size: 50px;
 line-height: 150%;
}
.slideshow-two-columns .large,
.slideshow-two-columns h4.large {
 font-size: 26px;
 line-height: 170%;
 font-weight: 300;
}
.slideshow-two-columns-right {
 display: table-cell; 
 width: 31%; 
 float: left; 
}
.slideshow-two-columns-left {
 display: table-cell; 
 width: 64%; 
 float: left; 
 margin-right: 5%; 
 text-align: left; 
}
span.top-sentence-slideshow {
 font-size: 16px;
 letter-spacing: 2.5px;
 font-weight: 600;
 display: block;
 margin-bottom: 30px;
 line-height: 150%;
}
.white-box h2 {
 font-size: 24px;
 font-weight: 600;
 color: black !important;
 text-align: center; 
}
.white-box p {
 text-align: center; 
}
.work-with-us-cf input[type="email"],
.work-with-us-cf input[type="text"],
.work-with-us-cf textarea {
 padding: 10px;
 border: 1px solid #f0f0f0;
 color: #4e4e4e;
 background-color: #f0f0f0;
 width: 100%;
 margin-bottom: 15px;
 font-family: inherit; 
 font-size: 16px; 
}
.work-with-us-cf textarea {
 font-size: 16px; 
 max-height: 120px;
}
.wpcf7-form-control-wrap {
 position: relative;
 margin-top: -2px !important;
 display: block;
}
.white-box img {
 margin: 33.5px 0px; 
}
/** MODIFICATIONS ON CHECKOUT - CART - WOOCOMMERCE **/  form.woocommerce-cart-form button[name="update_cart"] {
 padding: .25em 1em!important;
}
.cart_totals.calculated_shipping table th {
 padding: .857em 1.5em!important;
}
article#post-281 h1.entry-title,
article#post-282 h1.entry-title {
 font-weight: bold;
 font-size: 22px;
 width: auto;
 display: block;
 margin: 0px auto 30px;
 padding: 18px 45px;
 border: 3px solid #009DE0;
 max-width: 305px;
 text-align: center;
}
.cart_totals h2,
h2.woocommerce-order-details__title,
h2.woocommerce-column__title {
 font-size: 24px;
}
p#billing_phone_field,
input#billing_address_2 {
 display: none; 
}
textarea#order_comments {
 min-height: 200px; 
}
p#order_comments_field {
 margin-top: 30px;
}
#customer_details {
 margin-bottom: 35px; 
}  button#place_order {
 background: #009de0;
 color: white;
 padding: 0.5em 1.75em 0.5em 1em !important;
 border: 1px solid white !important;
}
p.woocommerce-notice.woocommerce-notice--success.woocommerce-thankyou-order-received {
 margin-bottom: 45px;
 font-size: 24px;
 text-align: center;
}
.woocommerce-table.woocommerce-table--order-details.shop_table.order_details tr:nth-last-child(4),
.woocommerce-table.woocommerce-table--order-details.shop_table.order_details tr:nth-last-child(3) {
 display: none; 
}
section.woocommerce-customer-details .woocommerce-column.woocommerce-column--2.woocommerce-column--shipping-address.col-2 {
 display: none; 
}
tr.shipping input[type="radio"] {
 visibility: hidden; 
} 
.woocommerce ul#shipping_method .amount {
 font-weight: 400; 
}
/* Disable input[type=number] buttons until the world is ready */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
 display:none!important;
}
/* Button for Start your Order */
.start-your-order-contact-form input.wpcf7-form-control.wpcf7-submit {
 margin-top: 30px;
 background: #009de0;
 color: white;
 border: none;
 font-family: inherit;
 text-transform: uppercase;
 font-weight: 700;
 padding: 15px 30px;
 font-size: 17px;
 border-radius: 2px;
 cursor: pointer; 
}  /** Assembly to Hotswap **/
dt.variation-Assembly {
 font-size: 0px; 
}
dt.variation-Assembly:before {
 content: "Hotswap:";
 font-weight: bold;
 font-size: 18px !important;
 line-height: 150%;
 margin-right: 5px;
}
dt.variation-Assembly:after {
 content: "Yes";
 font-weight: 300;
 font-size: 18px !important;
 line-height: 150%;
 margin-right: 5px;
}  #order_review tfoot tr.cart-subtotal {
 display: none; 
}
dd.variation-Assembly {
 display: none; 
}
/* A world of labels */
td[data-title="Delivery & Installation"] {
 font-size: 0px; 
}
td[data-title="Delivery & Installation"] span.woocommerce-Price-amount.amount {
 font-size: 18px!important; 
 padding: 0.857em .587em;
 display: inline-block;
 line-height: 100%;
}
tr.fee small.includes_tax {
 margin-left: 5px;
}
/*** Modifications button of Pay Order **/
body.page-id-282 h1.entry-title.main_title {
 font-size: 0px!important; 
}
body.page-id-282 h1.entry-title.main_title:before {
 content: "Pay Now"; 
 font-size: 22px!important;
}
button#place_order::before {
 font-size: 20px !important;
 content: "Pay";
 padding: 43px;
 line-height: 40px;
}
button#place_order {
 font-size: 0px;
}
.et-cart-info {
 display:none !important;
}
#menu-item-2004 a{
 color:#2ea3f2 !important;
}
@media all and (min-width:981px) {
#social_media_login {
 position:fixed; 
 top:54px; 
 z-index:999; 
 text-align:right; 
 right:0px; 
 background-color:white;
 width:100%;
 padding-top: 10px;
 padding-bottom: 5px;
 }
}
@media all and (max-width:980px) {
 #social_media_login { 
 position:absolute;
 top:76px; 
 z-index:999; 
 text-align:right; 
 right:0px; 
 background-color:white;
 width:100%;
 margin-right:0px;
 padding-top: 5px;
 padding-bottom: 5px;
}
}
.sub-menu {
 padding:0px !important;
 color: #2ea3f2 !important;
}
.nl_button
{
 box-shadow: 0px 12px 18px -6px rgba(0,0,0,0.3);
color: #fff;
font-size: 15px;
font-family: open sans;
line-height: 1.55;
font-weight: 600;
border-width: 0;
border-radius: 3px;
background-color: #009de0;
background-position: center center;
border-color: transparent;
border-style: solid;
transition: background-color .2s ease-in-out,color .2s ease-in-out,border-color .2s ease-in-out;
display: block;
text-align: center;
padding: 3px 15px;
cursor: pointer;
}
.nl_agreement
{
 font-size:14px;
} </style>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />    

</head>
<body class="page-template-default page page-id-3915 wp-custom-logo"> 
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false" role="none" style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;"><defs><filter id="wp-duotone-dark-grayscale"><feColorMatrix color-interpolation-filters="sRGB" type="matrix" values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " /><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="table" tableValues="0 0.49803921568627" /><feFuncG type="table" tableValues="0 0.49803921568627" /><feFuncB type="table" tableValues="0 0.49803921568627" /><feFuncA type="table" tableValues="1 1" /></feComponentTransfer><feComposite in2="SourceGraphic" operator="in" /></filter></defs></svg>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false" role="none" style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;"><defs><filter id="wp-duotone-grayscale"><feColorMatrix color-interpolation-filters="sRGB" type="matrix" values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " /><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="table" tableValues="0 1" /><feFuncG type="table" tableValues="0 1" /><feFuncB type="table" tableValues="0 1" /><feFuncA type="table" tableValues="1 1" /></feComponentTransfer><feComposite in2="SourceGraphic" operator="in" /></filter></defs></svg>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false" role="none" style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;"><defs><filter id="wp-duotone-purple-yellow"><feColorMatrix color-interpolation-filters="sRGB" type="matrix" values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " /><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="table" tableValues="0.54901960784314 0.98823529411765" /><feFuncG type="table" tableValues="0 1" /><feFuncB type="table" tableValues="0.71764705882353 0.25490196078431" /><feFuncA type="table" tableValues="1 1" /></feComponentTransfer><feComposite in2="SourceGraphic" operator="in" /></filter></defs></svg>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false" role="none" style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;"><defs><filter id="wp-duotone-blue-red"><feColorMatrix color-interpolation-filters="sRGB" type="matrix" values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " /><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="table" tableValues="0 1" /><feFuncG type="table" tableValues="0 0.27843137254902" /><feFuncB type="table" tableValues="0.5921568627451 0.27843137254902" /><feFuncA type="table" tableValues="1 1" /></feComponentTransfer><feComposite in2="SourceGraphic" operator="in" /></filter></defs></svg>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false" role="none" style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;"><defs><filter id="wp-duotone-midnight"><feColorMatrix color-interpolation-filters="sRGB" type="matrix" values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " /><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="table" tableValues="0 0" /><feFuncG type="table" tableValues="0 0.64705882352941" /><feFuncB type="table" tableValues="0 1" /><feFuncA type="table" tableValues="1 1" /></feComponentTransfer><feComposite in2="SourceGraphic" operator="in" /></filter></defs></svg>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false" role="none" style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;"><defs><filter id="wp-duotone-magenta-yellow"><feColorMatrix color-interpolation-filters="sRGB" type="matrix" values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " /><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="table" tableValues="0.78039215686275 1" /><feFuncG type="table" tableValues="0 0.94901960784314" /><feFuncB type="table" tableValues="0.35294117647059 0.47058823529412" /><feFuncA type="table" tableValues="1 1" /></feComponentTransfer><feComposite in2="SourceGraphic" operator="in" /></filter></defs></svg>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false" role="none" style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;"><defs><filter id="wp-duotone-purple-green"><feColorMatrix color-interpolation-filters="sRGB" type="matrix" values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " /><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="table" tableValues="0.65098039215686 0.40392156862745" /><feFuncG type="table" tableValues="0 1" /><feFuncB type="table" tableValues="0.44705882352941 0.4" /><feFuncA type="table" tableValues="1 1" /></feComponentTransfer><feComposite in2="SourceGraphic" operator="in" /></filter></defs></svg>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false" role="none" style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;"><defs><filter id="wp-duotone-blue-orange"><feColorMatrix color-interpolation-filters="sRGB" type="matrix" values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " /><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="table" tableValues="0.098039215686275 1" /><feFuncG type="table" tableValues="0 0.66274509803922" /><feFuncB type="table" tableValues="0.84705882352941 0.41960784313725" /><feFuncA type="table" tableValues="1 1" /></feComponentTransfer><feComposite in2="SourceGraphic" operator="in" /></filter></defs></svg>
    <header class="container">
        <div class="d-flex justify-content-between">
        <div class="d-flex align-items-center header-left-col"> <a href="/" class="custom-logo-link" rel="home"><img width="1280" height="459" src="/wp-content/uploads/logo.jpg" class="custom-logo" alt="Crypto Peak" decoding="async" srcset="/img/bluelogo.png 1280w, /img/bluelogo.png 300w, /img/bluelogo.png 1024w, /img/bluelogo.png 150w, /img/bluelogo.png 768w, /img/bluelogo.png 600w" sizes="(max-width: 1280px) 100vw, 1280px" /></a>
        <div class="site-tagline border-start d-none d-md-flex align-items-center"> 
            <span class="has-cm-mid-blue-color">last mine standing</span></div> <span class="d-none d-md-flex btc-rate">1 BTC = <span id="btc-rate">22578</span> &euro;</span></div> <a class="d-inline-flex align-items-center btn btn-outline-primary d-none d-sm-flex" href="/sign_up"> <span>Start Mining Now</span> </a></div></header>
    <main id="site-content" class="container post"><h1>Terms and Conditions (Public Offer Agreement)</h1>
        <div class="post-content">
            <h2>
                <span style="font-size: xx-large;">Terms and Conditions</span>
            </h2>
            <p>Public Offer Agreement &#8211; Updated 14.02.2023 &#8211; Came into force on 01.03.2023</p>
            <h4 style="text-align: justify;"><span style="font-size: xx-large;">Short Version</span></h4>
            <h4 style="text-align: justify;"><span style="font-size: large;">explanatory, not legally binding</span></h4>
        <ul style="text-align: justify;"><li style="font-weight: 400;" aria-level="1"><b>Miner</b><span style="font-weight: 400;"> ≠ </span><b>Device<br /> </b><b style="font-size: 18px;">Miner </b><span style="font-weight: 400;">is an abstract object representing the service of allocation of HR, incurring the user&#8217;s right to receive mining power &#8211; Hash Rate (<strong>HR</strong>) from a real hardware </span><b style="font-size: 18px;">Device </b><span style="font-weight: 400;">with specific Serial Number. </span><b style="font-size: 18px;">Device </b><span style="font-weight: 400;">is legally owned, hosted and maintained by Crypto Peak.</span></li><li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">CM makes sure that behind each Miner there is a Device or a hard fixed reserve for Preorders.</span></li><li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">All miners on the platform are covered with <strong>Lifetime Warranty</strong> and <strong>Automatic Failover</strong>.</span></li><li><strong>Lifetime Warranty</strong> means that CM pays for all repairs, maintenance, spare parts and consumables for all hosted miners unless the miner is beyond repair. Repairs are done as soon as malfunction is detected with no undue delay.</li><li style="font-weight: 400;" aria-level="1"><b>Automatic Failover </b><span style="font-weight: 400;">means that if a Device fails, underperforms, or is switched off for any reason, the Miner continues to provide HR. Lack or excess of HR is distributed across all the Users’ miners proportionally to their total HR.</span></li><li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">HR statistics is published daily for reference purposes at <a href="/external.html?link=https://bit.ly/CMDHR">bit.ly/CMDHR</a></span></li><li aria-level="1">Users may not take away the Devices, but can always sell at the internal <strong>Marketplace</strong> with 1% commission. Lifetime Warranty and Automatic Hot Swap comes along with the Miner and transferred to the Buyer.</li><li aria-level="1">Mined coins are sent by the mining pool directly to the customer&#8217;s Bitcoin wallet. CM doesn&#8217;t interfere with the payout process, only setting the payout wallets and minimum payout threshold on the pool.</li><li style="font-weight: 400;" aria-level="1"><span style="font-size: 18px;">All services are prepaid. Prepayments are deposited to User’s Balance that is used to pay for miners or hosting.</span></li><li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Balance (prepayment or amounts received after selling a miner at the Marketplace) on the platform can be withdrawn at any time (via Support Ticket) at any time. Withdrawal is possible only via bank transfer. Withdrawal fee is <strong>0% via SEPA</strong>, 30€+0.5% via SWIFT.</span></li><li aria-level="1"><span style="font-size: 18px;">To start mining, a user buys a Miner and receives it’s HR for as long as the Hosting Fee is paid. There are no time limits on duration of contract.</span></li><li aria-level="1">Mined coins are sent by the mining pool directly to the customer&#8217;s Bitcoin wallet. CM doesn&#8217;t interfere with the payout process, only setting the payout wallet according to the user&#8217;s profile.</li><li style="font-weight: 400;" aria-level="1"><b>Hosting Fee is deducted from the Balance daily.</b><span style="font-weight: 400;"> Users pay only for what was actually delivered to the pool (Effective HR) and not more than Nominal Hosting Fee.</span></li><li style="font-weight: 400;" aria-level="1"><span style="font-size: 18px;">A user can switch off a Miner any time.</span></li><li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">If the Balance becomes negative, Miners are switched off automatically.</span></li><li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">If a Miner is switched off for 30+ days, the user loses the miner.</span></li></ul>
        <blockquote><p><span style="font-weight: 400; font-size: xx-large;">FULL VERSION</span></p></blockquote>
        <p style="text-align: justify;">
            <span style="font-weight: 400; font-size: xx-large;">Terms and conditions<br /> </span>
            <span style="font-weight: 400;">Public Offer Agreement</span></p><p style="text-align: justify;">
                <span style="font-weight: 400;">Limited Liability Company Crypto Peak GmbH (Germany), hereinafter referred to as the “Agent” represented by the Managing Director, Matrenitsky Maxim acting on behalf and at the expense of the Limited Liability Company “Crypto Peak Rus” (Russia) on the basis of agency agreement No. 1 of 04.05. 2018, hereinafter referred to as the “</span><b>Contractor</b>
                <span style="font-weight: 400;">” represents this contract for provision of paid services, hereinafter referred to as the “Agreement”.</span></p><p style="text-align: justify;">
                <span style="font-weight: 400;">This contract is of a public nature and is an offer exclusively for individuals and legal entities that are not tax residents of the Russian Federation identified in this contract as “Client”, “User” or “Customer” and describes the conditions for ordering and using services provided by the Contractor.</span></p><p style="text-align: justify;">
                <span style="font-weight: 400;">The Contract may be changed by the Contractor with a notification period of 14 calendar days. The most current version of the agreement is published on the website </span><a href="/terms"><b>https://cryptopeak.com/</b>
                <span style="font-weight: 400;">agreement-2021-05-01</span></a>
                <span style="font-weight: 400;">. By signing in to the automated platform </span><b>https://cryptopeak.com</b>
                <span style="font-weight: 400;">, using the services of the Contractor, the user agrees to the terms of the current version of the Agreement, which has priority and replaces the terms of previous versions of the agreement.</span></p><h1 style="text-align: justify;">
                <span style="font-weight: 400;">Definitions</span></h1><ul style="text-align: justify;"><li style="list-style-type: none;"><ul><li style="font-weight: 400;" aria-level="1"><b>Miner</b>
                <span style="font-weight: 400;"> is an abstract object, representing an initial service of allocation of a specific amount of HR to the customer. In this agreement </span><b>Miner</b>
                <span style="font-weight: 400;"> is used as a term, representing the service and the customer’s right to receive Hash Rate from a real physical hardware unit (</span><b>Device</b>
                <span style="font-weight: 400;">) with specific serial number, owned, hosted and maintained by Contractor.</span><ul><li style="font-weight: 400;" aria-level="3">
                <span style="font-weight: 400;">Serial number of underlying </span><b>Device</b></li><li style="font-weight: 400;" aria-level="3">
                <span style="font-weight: 400;">Internal ID</span></li><li style="font-weight: 400;" aria-level="3">
                <span style="font-weight: 400;">Nominal Hash Rate (</span><b>Nominal HR</b>
                <span style="font-weight: 400;">)</span></li><li style="font-weight: 400;" aria-level="3">
                <span style="font-weight: 400;">Nominal Power Consumption (</span><b>kW</b>
                <span style="font-weight: 400;">), </span>
                <span style="font-weight: 400;">used to calculate Hosting Fee</span></li><li style="font-weight: 400;" aria-level="3">
                <span style="font-weight: 400;">Each miner is uniquely identified and has the following attributes:</span><ul><li style="font-weight: 400;" aria-level="1"><b>Hash Rate (HR)</b>
                <span style="font-weight: 400;"> is seen as the computational service, provided by a specialized devices, measured by a number of specific calculations (finding hash-function) per second, namely TerraHashes per Second or TH/s</span></li><li style="font-weight: 400;" aria-level="1"><b>Mining</b>
                <span style="font-weight: 400;"> is a process of providing </span><b>Hash Rate</b></li></ul></li></ul></li><li style="font-weight: 400;" aria-level="1">Mining Pool (Pool) 
                <span style="font-weight: 400;">is an external service, provided by 3rd Party (F2pool.com) which has a subaccount, associated with the Client. Mining Pool receives the HR on behalf and in the interest of the Client.</span></li><li style="font-weight: 400;" aria-level="1"><b>Hosting Fee:</b>
                <span style="font-weight: 400;"> recurring payment for the provided HR</span>
                <span style="font-weight: 400;"><br /> </span>
                <span style="font-weight: 400;"><br /> </span>
                <span style="font-weight: 400;">Nominal Hosting Fee =</span>
                <span style="font-weight: 400;"><br /> </span>
                <span style="font-weight: 400;">= Nominal Power Consumption(kW) X Price per kWh (€) X Time (hours)</span></li></ul></li></ul><p>&nbsp;</p><ul style="text-align: justify;"><li style="list-style-type: none;"><ul><li style="font-weight: 400;" aria-level="1"><b>Effective HR</b>
                <span style="font-weight: 400;"> = HR actually delivered to the pool. The amount of provided HR is taken from the pool, which is considered by both parties the source of trusted information.</span>
                <span style="font-weight: 400;"><br /> </span>
                <span style="font-weight: 400;">It can not exceed its Nominal value.</span></li><li style="font-weight: 400;" aria-level="1"><b>Effective Hosting Fee </b>
                <span style="font-weight: 400;">is limited by the Nominal Hosting Fee and adjusted to the actually provided HR in the previous day</span>
                <span style="font-weight: 400;"><br /> </span>
                <span style="font-weight: 400;">It can not exceed its Nominal value</span>
                <span style="font-weight: 400;"><br /> </span>
                <span style="font-weight: 400;"><br /> </span>
                <span style="font-weight: 400;">Effective Hosting Fee = Nominal Hosting Fee * Effective HR / Nominal HR</span></li><li style="font-weight: 400;" aria-level="1">The Platform is 
                <span style="font-weight: 400;">a website, located on the Internet at </span><a href="/external.html?link=https://my.cryptopeak.com/">
                <span style="font-weight: 400;">https://my.cryptopeak.com</span></a>
                <span style="font-weight: 400;">, which allows the services to be provided within this </span>Agreement
                <span style="font-weight: 400;">.</span></li><li style="font-weight: 400;" aria-level="1"><b>Automatic Hot Swap</b>
                <span style="font-weight: 400;"> &#8211; technology allowing to distribute a risk of failure across all the Miners at disposal of all the Customers, working within this agreement. It ensures that the services will be rendered continuously even in case when the specific Device is malfunctioning. The Lack of HR, caused by the malfunctioning Devices is distributed across all the Customers proportionally to their HR.</span></li><li style="font-weight: 400;" aria-level="1"><b>Balance</b>
                <span style="font-weight: 400;"> &#8211; unused of a prepayment, made by the Customer. It is used to pay for the purchase of miners and provided services.</span></li><li style="font-weight: 400;" aria-level="1"><b>Order </b>
                <span style="font-weight: 400;">is a legally binding non reversible action on the platform, initiated by Client, resulting in acquiring rights and obligations within this agreement. Purchasing a miner, initiating a pre-order, purchasing a miner from the internal Marketplace are seen as Orders.</span></li><li style="font-weight: 400;" aria-level="1"><b>Customer, Client, User</b>
                <span style="font-weight: 400;"> is a natural person or a legal entity, legally represented by a natural person, who has completed the Order.</span></li></ul></li></ul><p>&nbsp;</p><ol style="text-align: justify;"><li style="font-weight: 400;" aria-level="1"><h1>
                <span style="font-weight: 400;">The Subject of the Agreement</span></h1><ol><li style="font-weight: 400;" aria-level="2">
                <span style="font-weight: 400;">The subject of this Agreement is the provision of paid computational services (</span><b>HR</b>
                <span style="font-weight: 400;">) to place information in the information system (distributed Blockchain database).</span></li><li style="font-weight: 400;" aria-level="2">
                <span style="font-weight: 400;">Customer places an </span><b>Order</b>
                <span style="font-weight: 400;"> for a Miner on the platform and receives the HR via a personal </span><b>Pool’s </b>
                <span style="font-weight: 400;">account, created by the Contractor</span><b>.</b></li><li style="font-weight: 400;" aria-level="2">
                <span style="font-weight: 400;">After purchasing a </span><b>Miner</b>
                <span style="font-weight: 400;">, the </span><b>Customer</b>
                <span style="font-weight: 400;"> starts receiving </span><b>HR </b>
                <span style="font-weight: 400;">and pays the </span><b>Effective Hosting Fee</b>
                <span style="font-weight: 400;"> on a daily basis.</span></li><li style="font-weight: 400;" aria-level="2">
                <span style="font-weight: 400;">All services are provided on prepayment basis.</span></li><li style="font-weight: 400;" aria-level="2">
                <span style="font-weight: 400;">Prepayments are deposited to customer’s </span><b>Balance</b>
                <span style="font-weight: 400;"> and then can be used on any services provided by Crypto Peak within this Agreement.</span></li><li style="font-weight: 400;" aria-level="2">
                <span style="font-weight: 400;">Miner is providing HR to the Customer for as long as the Hosting Fee is paid.</span></li><li style="font-weight: 400;" aria-level="2">
                <span style="font-weight: 400;">Contractor undertakes to provide HR within the level of Nominal HR at the best of its ability, providing hosting, maintenance, repairs for the Devices at own expense.</span></li></ol></li><li style="font-weight: 400;" aria-level="1"><h1>
                <span style="font-weight: 400;">Acceptance of the contract</span></h1><ol><li style="font-weight: 400;" aria-level="2">
                <span style="font-weight: 400;">The text of this contract, in accordance with Article 435 and Part 2 of Article 437 of the Civil Code of the Russian Federation, is a public offer.</span></li><li style="font-weight: 400;" aria-level="2">
                <span style="font-weight: 400;">Placing an Order, paying for the services, using the Platform in any form is recognized as full unconditional acceptance of this Agreement, in accordance with Article 438 of the Civil Code of the Russian Federation. Acceptance means that the Customer fully agrees with the terms of this Agreement and accepts them. When you accept this Agreement, you specify that you are at least 18 years old and are legally able to enter into a contract. By accepting, you agree to every provision of this Agreement whether you have to read it or not.</span></li><li style="font-weight: 400;" aria-level="2">
                <span style="font-weight: 400;">If a user accepts this Agreement on behalf of a legal entity, this person is liable to having all the legal rights to represent this entity and accept on behalf of that entity the rights and obligations under the Agreement. If a client does not agree with the terms of this Agreement, this client can not use the services.</span></li></ol></li><li style="font-weight: 400;" aria-level="1"><h1>
                <span style="font-weight: 400;">Rights and obligations of the Contractor</span></h1><ol><li style="font-weight: 400;" aria-level="3">
                <span style="font-weight: 400;">Provide the ordered services to the Customer in accordance with the terms of this Agreement and its Annexes.</span></li><li style="font-weight: 400;" aria-level="3">
                <span style="font-weight: 400;">Not less than in 14 (fourteen) days to notify about any changes in tariffs, terms of the Agreement and its Annexes.</span></li><li style="font-weight: 400;" aria-level="3">
                <span style="font-weight: 400;">To inform the Customer in due time about carrying out preventive and other works, that coulds cause breaks in rendering of services.</span></li><li style="font-weight: 400;" aria-level="3">
                <span style="font-weight: 400;">In the absence of a technical possibility to continue rendering the service, notify the Customer via e-mail or through the website or the platform and terminate this agreement.</span></li><li style="font-weight: 400;" aria-level="3">
                <span style="font-weight: 400;">Continuously provide services to the Customer, except for cases associated with scheduled maintenance or other works, unscheduled technical works, actions or inactions of third parties, force majeure circumstances, as well as faults in information transport channels that are not part of the Contractor’s information system. The Contractor does not bear civil liability to the Customer or third parties for interruptions in the provision of services related to these circumstances.</span></li><li style="font-weight: 400;" aria-level="3">
                <span style="font-weight: 400;">To provide all necessary maintenance, repairs, spare parts to the Devices that are not beyond the repairability at own cost without undue delay.</span></li><li style="font-weight: 400;" aria-level="3">
                <span style="font-weight: 400;">To provide an Automatic Hot Swap feature to all miners available on the platform, including New Preinstalled Miners, Pre-orders and miners being sold on the Marketplace. The Lack of HR, caused by the malfunctioning Devices is distributed across all the Customers proportionally to their Nominal HR values.</span></li><li style="font-weight: 400;" aria-level="3">
                <span style="font-weight: 400;">Ensure the confidentiality and safety of the personal data provided by the Customer. Produce their processing in accordance with the rules and principles established by the Federal Privacy Laws of Russian Federation.</span></li></ol><ol><li style="font-weight: 400;" aria-level="3">
                <span style="font-weight: 400;">To pause the provision of services, when it is necessary to provide preventive maintenance or other works, that require temporary suspension having notified the Customer in Due Time</span></li><li style="font-weight: 400;" aria-level="3">
                <span style="font-weight: 400;">To pause the provision of services without prior notification during urgent technical work, the necessity of which is required to provide services under this Agreement.</span></li><li style="font-weight: 400;" aria-level="3">
                <span style="font-weight: 400;">Unilaterally and immediately terminate this Agreement in case of violation by the Customer of the terms of this Agreement and its Annexes. The same applies to the cases when the Contractor becomes aware of the Customer’s violation of the legislation of the Russian Federation or the legislation of the country of the Customer’s tax residence.</span></li><li style="font-weight: 400;" aria-level="3">
                <span style="font-weight: 400;">The Contractor has the right to transfer rights or obligations under this Agreement in any part to third parties, unless this entails a change in the quality and conditions of the provision of the Services to the Customer.</span></li><li style="font-weight: 400;" aria-level="3">
                <span style="font-weight: 400;">Unilaterally and immediately terminate this Agreement at will on condition that the full initial payment for the purchased Miners is paid without undue delay.</span></li></ol></li><li style="font-weight: 400;" aria-level="1"><h1>
                <span style="font-weight: 400;">Rights and obligations of the Customer</span></h1><ol><li style="font-weight: 400;" aria-level="3">
                <span style="font-weight: 400;">To carefully read the text of the Agreement, the text of the Appendices to it and the text of other rules and local regulations, that may be applicable.</span></li><li style="font-weight: 400;" aria-level="3">
                <span style="font-weight: 400;">To fulfill all the obligations set out in the text of the Agreement, the text of the Appendices.</span></li><li style="font-weight: 400;" aria-level="3">
                <span style="font-weight: 400;">To make the payments in the order and within the terms provided by the text of the Contract.</span></li><li style="font-weight: 400;" aria-level="3">
                <span style="font-weight: 400;">To monitor changes in tariff plans, as well as in other issues related to the provision of services published on the platform.</span></li><li style="font-weight: 400;" aria-level="3">
                <span style="font-weight: 400;">To read and understand all the messages sent by the Contractor via email to the Customer’s email.</span></li><li style="font-weight: 400;" aria-level="3">
                <span style="font-weight: 400;">Maintain up-to-date status and ensure the authenticity of all details (for individuals and representatives of legal entities) indicated when ordering.</span></li><li style="font-weight: 400;" aria-level="3">
                <span style="font-weight: 400;">At the request of the Contractor, sent by email or by other means of communication within 7 (seven) days, provide a copy of the identity document, as well as a photograph of the Customer with an identity document or other materials required by the Contractor to identify the Customer’s identity (for natural persons and representatives of legal entities), as well as copies of documents certified by the tax authorities confirming the registration and registration of the tax registration in the country. If this data is not provided, the Contractor has the right to terminate the Agreement unilaterally in accordance with the requirements of the anti-money laundering legislation.</span></li><li style="font-weight: 400;" aria-level="3">
                <span style="font-weight: 400;">Ensure the protection of authorization data, namely login/password and access to registered email and Telegram accounts. Any message sent from the customer’s sources will be considered a message sent by the Customer. All actions done within the platform done using customers’ credentials will be considered legally binding actions done by the Customer.</span></li></ol><ol><li style="font-weight: 400;" aria-level="3">
                <span style="font-weight: 400;">At any time, to terminate the contract and request from the Contractor to transfer the unused prepayment (Balance) to a bank account of Customer’s choosing using SEPA/SWIFT wire transfer.</span></li><li style="font-weight: 400;" aria-level="3">
                <span style="font-weight: 400;">The Customer has the right to sell Miner on the Marketplace section of the Platform for any voluntary amount. In this case the Selling Customer transfers all the rights and obligations acquired under this Agreement only to another Customer (Buying Customer), registered on the platform that has accepted this agreement’s conditions and commenced the agreement. Agreed amount is transferred from the Balance of Buying Customer to the Balance of the Selling Customer.</span></li></ol></li><li style="font-weight: 400;" aria-level="1"><h1>
                <span style="font-weight: 400;">Procedure for placing an order</span></h1><ol><li style="font-weight: 400;" aria-level="2">
                <span style="font-weight: 400;">To place an Order Customer selects the miner on the platform and clicks Buy and proceeds with the order. Miner information contains the date of estimated delivery date, which means that the provision of services of specific miner will begin from 0:00 UTC on the following day.</span></li></ol></li><li style="font-weight: 400;" aria-level="1"><h1>
                <span style="font-weight: 400;">Cost of services and payment procedure</span></h1><ol><li style="font-weight: 400;" aria-level="3">
                <span style="font-weight: 400;">Initial mining power allocation service (</span><b>Initial fee / Miner</b>
                <span style="font-weight: 400;">), which implies that Contractor installs and prepares specific instance of a Device and creates a Miner for provision of computational services based on this Device’s parameters.</span></li><li style="font-weight: 400;" aria-level="3">
                <span style="font-weight: 400;">Periodic variable mining power provision service (</span><b>Hosting Fee</b>
                <span style="font-weight: 400;">), calculated depending on the amount of HR delivered to the customer’s pool account. Effective Hosting Fee is deducted from the Balance after each day when HR was provided.</span></li></ol><ol><li style="font-weight: 400;" aria-level="2">
                <span style="font-weight: 400;">The cost of services and works under the Contract is calculated in Euro currency. The cost of services consists of two parts:</span></li><li style="font-weight: 400;" aria-level="2">
                <span style="font-weight: 400;">Services are provided only after the Customer has made the prepayment that is enough to cover the </span><b>Initial fee </b>
                <span style="font-weight: 400;">and at least </span><b>one day of the Hosting Fee </b>
                <span style="font-weight: 400;">of the corresponding miner. The prepayment, deposited to the </span><b>Balance</b>
                <span style="font-weight: 400;"> is made by any means to the Contractor or the Agent, that is legal in the corresponding Jurisdictions. The moment of payment is recognized as the moment when the funds were received by the Agent or the Contractor.</span></li><li style="font-weight: 400;" aria-level="2">
                <span style="font-weight: 400;">In case of wire transfers, the Customer is obliged to transfer from one’s own bank account, no payment is accepted from the account of third parties, according to the AML laws.</span></li><li style="font-weight: 400;" aria-level="2">
                <span style="font-weight: 400;">The parties agree that, in the absence of written objections within five days from the moment of service provision, the provided services are deemed to be received and accepted by the Customer in full.</span></li><li style="font-weight: 400;" aria-level="2">
                <span style="font-weight: 400;">Within 5 working days after the end of each month, the Contractor shall issue an invoice to the Customer with detailed information of services provided in the previous accounting month.</span></li><li style="font-weight: 400;" aria-level="2">
                <span style="font-weight: 400;">The initial fees and periodic fees are not refundable, except for cases stipulated by the Treaty and the legislation of the Russian Federation. The prepayment (balance) can be refunded at any time and will be transferred to the Customer&#8217;s bank account.</span></li><li style="font-weight: 400;" aria-level="2">
                <span style="font-weight: 400;">When making any money payment or transfer, the customer must indicate the account number or otherwise uniquely identify the account on the platform for which payment is made.</span></li><li style="font-weight: 400;" aria-level="2">
                <span style="font-weight: 400;">In case the balance is not enough for the next day of hosting fee, the provision of services is suspended. To continue provision of services, the customer must make a prepayment, enough at least for the next day of hosting fee.</span></li><li style="font-weight: 400;" aria-level="2">
                <span style="font-weight: 400;">In case the miner is stopped for any reason for 30 days, the miner is withdrawn from the client&#8217;s account and provision of services of loses the right to use the services of the Miner. To start Miner anew, the Customer has to pay the full initial fee for allocation of mining power of any available miner on the platform.</span></li><li style="font-weight: 400;" aria-level="2">
                <span style="font-weight: 400;">If the Balance is less than 100 Euro, there are no more Miners at the disposal of the customer for 30 calendar days or more, the contract shall be deemed terminated, the leftover prepayment (balance) is collected by the Contractor as the termination fee and shall not be returned.</span></li><li style="font-weight: 400;" aria-level="2">
                <span style="font-weight: 400;">All services are provided by the Contractor and are maintained exclusively by the Contractor or by third parties on behalf of the Contractor. Customers are obliged to address directly to the Contractor on any issues related to these Contracts, and not to subcontractors of the Contractor or other related entities.</span></li></ol></li><li style="font-weight: 400;" aria-level="1"><h1>
                <span style="font-weight: 400;">Term and Termination Agreement</span></h1><ol><li style="font-weight: 400;" aria-level="2">
                <span style="font-weight: 400;">The Agreement is valid for 1 (one) year from the date of acceptance, according to the 2.2.</span></li><li style="font-weight: 400;" aria-level="2">
                <span style="font-weight: 400;">The contract is automatically prolonged for the next year, if neither of the Parties notified the other Party about the termination of the contract 15 days before the expiration of the contract.</span></li><li style="font-weight: 400;" aria-level="2">
                <span style="font-weight: 400;">The Customer has the right to terminate the Agreement unilaterally at any time without explaining the reasons, notifying the Contractor within 15 working days before the deadline for the termination of the contract. During this period, the Contractor stops the service provision, bills the services already rendered up to that point, and refunds the remaining Balance to the bank account of the Customer. The initial fee is not refunded.</span></li><li style="font-weight: 400;" aria-level="2">
                <span style="font-weight: 400;">The Contractor has the right to terminate the Agreement unilaterally at any time without explaining the reasons, with 15 days of notice. During this period, the Customer has the right to sell Miners on the internal Marketplace to other users of the Platform, or ask for a refund of the Initial Fee (initially paid price of Miner), should the Contractor agree to it. After 15 days service provision stops, the services already rendered up to that point should be Invoiced, and the remaining Balance should be wired to the bank account of the Customer.</span></li></ol></li><li style="font-weight: 400;" aria-level="1"><h1>
                <span style="font-weight: 400;">Responsibility of the parties.</span></h1><ol><li style="font-weight: 400;" aria-level="2">
                <span style="font-weight: 400;">The Contractor shall not be liable for any taxes, fees and charges that the Customer may incur in the process of receiving the Services under this Agreement in accordance with the legislation of the Russian Federation or the legislation of the country in which the Customer receives the services.</span></li><li style="font-weight: 400;" aria-level="2">
                <span style="font-weight: 400;">The Contractor, its representatives, employees, Agents and related persons shall in no event be liable either to the Customer or to third parties for possible damage incurred by the Customer, including direct, indirect damage, possible penalties from any power institutions or third parties persons, as well as for the loss of profit or potential profit of the Customer, as a result of receiving or not receiving the Services under this Agreement.</span></li><li style="font-weight: 400;" aria-level="2">
                <span style="font-weight: 400;">The Customer is aware and agrees to bear all risks associated with the use of the Services under this agreement. To the maximum extent permitted by applicable law, the Contractor waives all warranties, expressed or implied, including, but not limited to, warranties of the suitability of the services provided for the specific purposes of the Customer, gaining practical benefit or achieving certain objectives.</span></li><li style="font-weight: 400;" aria-level="2">
                <span style="font-weight: 400;">The Contractor does not guarantee that the services will be performed without interruptions or without errors or that the services will comply with the Customer’s expectations, specifications or declared parameters. The Customer understands that the Contractor is not responsible for the transmission of data via any communication channels, including the Internet, and that data transmission can be carried out with delays, interruptions or errors.</span></li><li style="font-weight: 400;" aria-level="2">
                <span style="font-weight: 400;">All disputes concerning this Agreement shall first be settled through negotiations between the Parties.</span></li><li style="font-weight: 400;" aria-level="2">
                <span style="font-weight: 400;">If the settlement of the disputed issues by negotiation took place, but the Parties would not reach an agreement on all disputable issues, issues not resolved through negotiations can be challenged by the Parties in a judicial procedure, in accordance with the general rules of jurisdiction in arbitration procedural and civil procedural law of Russian Federation.</span></li><li style="font-weight: 400;" aria-level="2">
                <span style="font-weight: 400;">The Parties agree that all disputes arising from this Agreement shall be subject to review by the Arbitration Court of St. Petersburg.</span></li><li style="font-weight: 400;" aria-level="2">
                <span style="font-weight: 400;">If third parties file a lawsuit against the Contractor, in connection with the relations arising from this contract, the Customer is obliged, at the request of the Contractor, to compensate the Contractor for losses (including expenses for legal assistance and representation in court) caused to the Contractor in connection with this claim.</span></li></ol></li><li style="font-weight: 400;" aria-level="1"><h1>
                <span style="font-weight: 400;">Agreement on the processing of personal data</span></h1><ol><li style="font-weight: 400;" aria-level="2">
                <span style="font-weight: 400;">The contractor assumes the obligation to protect the personal data of the customer in all possible ways. The latest version of the privacy policy is published at </span><a href="/external.html?link=https://www.cryptopeak.com/privacy-policy">
                <span style="font-weight: 400;">www.cryptopeak.com/privacy-policy</span></a></li><li style="font-weight: 400;" aria-level="2">
                <span style="font-weight: 400;">The Customer agrees to the collection, processing and storage of his personal data by the Contractor.</span></li><li style="font-weight: 400;" aria-level="2">
                <span style="font-weight: 400;">List of personal data: surname, name, registration address, residential address, year and date of birth, home telephone number, mobile phone, e-mail address, series and number of the main identity document, information on the date of issue of the document and the body that issued it.</span></li><li style="font-weight: 400;" aria-level="2">
                <span style="font-weight: 400;">The operator of personal data processing is the Contractor.</span></li><li style="font-weight: 400;" aria-level="2">
                <span style="font-weight: 400;">The consent of the Customer to the processing of his personal data is valid during the validity of this Agreement, and also within 3 (three) years after the termination of its operation.</span></li><li style="font-weight: 400;" aria-level="2">
                <span style="font-weight: 400;">The contractor collects, stores and processes personal data using automated means including electronic databases.</span></li><li style="font-weight: 400;" aria-level="2">
                <span style="font-weight: 400;">The purpose of collecting, processing and storing personal data is the execution of this Agreement, the subject of which is the Customer, as well as the interaction within the framework of this Agreement between the Contractor and the Customer, as well as between the Contractor and third parties.</span></li><li style="font-weight: 400;" aria-level="2">
                <span style="font-weight: 400;">The Customer gives his consent to the cross-border transfer of his personal data for the purpose of implementing this Agreement, the interaction of the Contractor and the Customer, as well as the interaction of the Contractor and third parties.</span></li><li style="font-weight: 400;" aria-level="2">
                <span style="font-weight: 400;">The Customer gives his consent to the adoption of decisions by the Contractor concerning him having legal consequences on the basis of the processing of his personal data.</span></li><li style="font-weight: 400;" aria-level="2">
                <span style="font-weight: 400;">In accordance with Article 17 of the Federal Law of the Russian Federation “On Personal Data”, the Customer has the right to appeal against the actions or inaction of the Contractor, in case of violation of the rules for processing his personal data, to the authorized body for protection of the rights of subjects of personal data or in court.</span></li></ol></li><li style="font-weight: 400;" aria-level="1"><h1>
                <span style="font-weight: 400;">Additional conditions</span></h1><ol><li style="font-weight: 400;" aria-level="2">
                <span style="font-weight: 400;">If one of the provisions of this Agreement is found to be invalid or unjustified, this provision shall be corrected to the minimum extent necessary so that it does not conflict with the law and is valid, nor does it significantly change the rights and obligations of the parties. If this is not possible, then this provision must be withdrawn from the Agreement, with the remaining provisions of the Treaty remaining in force.</span></li></ol></li><li style="font-weight: 400;" aria-level="1"><h1>
                <span style="font-weight: 400;">Details of the Contractor and the Agent</span></h1></li></ol><p style="text-align: justify;">
                <span style="font-weight: 400;">Contractor: Limited Liability Company “Crypto Peak Rus”<br /> </span>
                <span style="font-weight: 400;">Address: Russia, 197343, St. Petersburg, Lanskoye Shosse, 45A, k. 63<br /> </span>
                <span style="font-weight: 400;">Reg No: 1187847127390 Tax-ID: 7842152328<br /> </span>
                <span style="font-weight: 400;">Account: 40702810010000341645 in JSC “Tinkoff Bank” BIC 044525974<br /> </span>
                <span style="font-weight: 400;">Representation through the Managing Director Maksim Matrenitckii</span></p><p style="text-align: justify;">
                <span style="font-size: 30px; color: #333333;">Payment details of the Agent</span></p><p style="text-align: justify;">
                <span style="font-weight: 400;">Agent: Crypto Peak GmbH<br /> </span>
                <span style="font-weight: 400;">Reg No: HRB 194292 B Amtsgericht Charlottenburg (Berlin)<br /> </span>
                <span style="font-weight: 400;">Rheinsberger Str. 76 10115 Berlin<br /> </span>
                <span style="font-weight: 400;">IBAN (Account): DE75 1204 0000 0076 6782 00<br /> </span>
                <span style="font-weight: 400;">BIC (SEPA / SWIFT): COBADEFFXXX</span></p><h1 style="text-align: justify;">
                <span style="font-weight: 400;">
                <span style="font-size: xx-large;">Appendix 1</span></span></h1><h3 style="text-align: justify;">
                <span style="font-weight: 400;">Pricing</span></h3><p style="text-align: justify;"><b>Effective Hosting Fee</b>
                <span style="font-weight: 400;"> is calculated with the following formula:</span></p><p style="text-align: justify;">
                <span style="font-weight: 400;">Hosting Fee = Power x Hours x Price x (Delivered HR / Nominal HR)</span></p><p style="text-align: justify;"><b>Power</b>
                <span style="font-weight: 400;"> = Power of the Miner in kW<br /> </span><b>Hours</b>
                <span style="font-weight: 400;"> = Number of hou<br /> </span><b>Price</b>
                <span style="font-weight: 400;"> = Price per kWh from the table below<br /> </span><b>Effective Hash Rate</b>
                <span style="font-weight: 400;"> = Actually delivered HR to the customer’s pool account<br /> </span><b>Nominal Hash Rate</b>
                <span style="font-weight: 400;"> = Nominal Hash Rate of the Miner, according to the tech specs on the platform<br /> </span><b>Price : </b>since 19.01.2023,
                <span style="font-weight: 400;"> <strong>0.069 €/kWh</strong> applies for all miners on the platform. Price may get reviewed on a 15 days basis.</span></p><h1 style="text-align: left;">
                <span style="font-weight: 400;">Other fees and commissions</span></h1><h3 style="text-align: left;">
                <span style="font-weight: 400;">Deposits</span></h3><p style="text-align: left;">
                <span style="font-weight: 400;">Bitcoin: <strong>0%</strong><br /> </span>
                <span style="font-weight: 400;">Bank transfer (SEPA/SWIFT): <strong>0%</strong><br /> </span>
                <span style="font-weight: 400;">Credit Card (VISA, MasterCard, GooglePay, ApplePay): <strong>2.5%</strong></span></p><h3 style="text-align: left;">
                <span style="font-weight: 400;">Withdrawals</span></h3><p style="text-align: left;">
                <span style="font-weight: 400;">SEPA: <strong>0%<br /> </strong></span>
                <span style="font-weight: 400;">SWIFT: <strong>30€ + 0.5%</strong></span></p><h3 style="text-align: left;">
                <span style="font-weight: 400;">Marketplace</span></h3><p style="text-align: left;">
                <span style="font-weight: 400;">Selling a Miner at the Marketplace: <strong>1%</strong></span></p><p style="text-align: center;"></div></main>
                    
                    
                    <%- partial('./partials/footer')%> 
</body>
</html>

