body {
    padding: 0;
    margin: 0;
    /* background-color: #26394d !important; */
}

#btcwidget {
    margin: 0;
    width: 90%;
}

.verificationbox {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    padding: 0 20px;
}

.innerverificationbox {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 59, 59, 0.726);
    border: 1px solid red;
    border-radius: 6px;
    color: white;
    padding: 5px 10px;
}

.verifyBtn {
    border: none;
    background-color: transparent;
    color: rgb(97, 238, 179);
}

#acctsumbox {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}

.dashboardboxcontainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    font-family: 'Oswald', sans-serif;
}

.dashboardboxes {
    width: 23%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    -webkit-box-shadow: 0 0 5px 0 rgb(0 0 0 / 20%), 0 11px 6px -7px rgb(0 0 0 / 20%);
    box-shadow: 0 0 5px 0 rgb(0 0 0 / 20%), 0 11px 6px -7px rgb(0 0 0 / 20%);
    color: rgb(85, 85, 85);
    margin: 10px;
    padding: 10px;
    border-radius: 6px;
}

.dashboardboxes-span1 {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.dashboardboxes-span2 {
    display: flex;
    flex-direction: column;
    padding: 0 4px;
}

.dashboardboxes-span2 p {
    margin: 0;
    font-size: 1.3em;
}

.dashboardboxes-iconimg {
    width: 34px;
}


.dashboardbox-graphimg {
    width: 90%;
}

@media (max-width:1090px) {
    .dashboardboxes {
        width: 42%;
    }
}

@media (max-width:380px) {
    .dashboardboxes {
        width: 90%;
    }
}

#inneracctsumbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
}

.acctsum {
    width: 360px;
    padding: 10px 20px;
    border: 1.4px solid orange;
    border-radius: 10px;
    background-color: var(--clr-shadowToBlack);
    color: white;
    margin: 5px;
}

.acctsum span {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.acctsum p {
    margin: 0;
    padding: 0;
}

.accttype {
    padding: 4px 20px;
    border-radius: 4px;
    background-color: orange;
}

.unverifiedstat {
    padding: 4px 10px;
    border-radius: 4px;
    background-color: rgb(207, 22, 8);
}

.verifiedstat {
    padding: 4px 10px;
    border-radius: 4px;
    background-color: rgb(7, 146, 211);
}

.pendingstat {
    padding: 4px 10px;
    border-radius: 4px;
    background-color: rgb(72, 155, 83);
}

#activitybox {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    padding: 0 20px;
}

#inneractivitybox{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.activitybox1 {
    width: 50%;
    padding: 10px 20px;
    border-radius: 10px;
    /* background-color: rgb(30, 146, 255); */
    background-color: var( --clr-borderBoxColor);
    color: var( --foreground);
    margin: 5px;
    display: flex;
    flex-direction: column;
}

.activityboxspan{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0.7px solid rgba(187, 184, 184, 0.603);
}

.activitybox2 {
    width: 50%;
    padding: 10px 20px;
    border-radius: 10px;
    /* background-color: rgb(30, 146, 255); */
    background-color: var( --clr-borderBoxColor);
    color: var( --foreground);
    margin: 5px;
    display: flex;
    flex-direction: column;
}

@media (max-width:900px) {
    #inneracctsumbox {
       flex-direction: column;
       align-items: center;
    }

    .acctsum {
        width: 400px;
    }
}

@media (max-width:740px) {
    .acctsum {
        width: 100%;
    }

    #inneractivitybox {
       flex-direction: column;
       align-items: center;
    }

    .activitybox1, .activitybox2 {
        width: 100%;
    }
}

@media (max-width:440px) {
    .acctsum span {
        flex-wrap: wrap;
    }
}

.statcontainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    padding: 0 20px;
}

.innerstatcontainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}



.statbox1 {
    width: 70%;
    background-color: var( --clr-borderBoxColor);
    padding: 20px;
    border-radius: 8px;
    overflow-x: auto;
    overflow-y: auto;
}

.statbox1::-webkit-scrollbar{
    width: 10px;
}

.statbox1::-webkit-scrollbar-track {
    -webkit-box-shadow:inset 0 0 10px rgba(0, 0, 0, 0.459)
}

.statbox1::-webkit-scrollbar-thumb {
    -webkit-box-shadow:inset 0 0 10px rgba(0, 0, 0, 0.534)
}


.statbox2 {
    width: 28%;
    background-color: var( --clr-borderBoxColor);
    padding: 20px;
    border-radius: 8px;
}

.tickLabel {
    color: var( --foreground);
}

/* .flot-overlay {
    width: 534px !important;
}

.flot-base {
    width: 534px !important;
} */

@media (max-width:1050px) {
    .innerstatcontainer {
        flex-direction: column;
    }
    .statbox1 {
        width: 100%;
    }
    .statbox2 {
        width: 100%;
        margin-top: 7px;
    }
}

#div1 {
    display: flex;
    flex-direction: row;
    font-family: 'Oswald', sans-serif;
}

#div1box {
    display: flex;
    flex-direction: row;
    padding: 10px;
    width: 90%;
    align-items: center;
}

#div1box i {
    color: white;
    background-color: dodgerblue;
    padding: 10px;
    border-radius: 6px;
    margin: 0 20px;
    font-size: 1.6em;
}

/* #div1box span {
    color: white;
} */

#div2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}

#div2box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    /* background-color: white; */
    /* border: 2px solid dodgerblue; */
    border-radius: 6px;
    width: 90%;
}

.div2boxes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    width: 300px;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    /* font-family: 'Bakbak One', cursive; */
    font-family: 'Oswald', sans-serif;
    background-color: #1b242e;
    /* background-color: white; */
    transition: 1s;
    border: 4px solid transparent;
}

.div2boxes p {
    color: var( --clr-dodgerblueColorToWhite); /* darkmode color */
    font-size: 1.5em;
}


.div2boxes a {
    color: var( --clr-greenColorToWhite); /* darkmode color */
    text-decoration: none;
    transition: 0.8s;
}

.div2boxes a:hover {
    text-decoration: underline;
    color: rgb(10, 155, 82);
}

.div2boxes:hover {
    color: white !important;
    cursor: pointer;
    /* background-color: dodgerblue; */
}

.div2boxes:hover p, .div2boxes:hover a {
    color: white !important;
}

#cryptowidget, .cryptowidget {
    width: 100%;
    height: 500px !important;
    padding: 10px 20px;
    margin: 10px 0;
    /* overflow: auto; */
}

/* #cryptowidget::-webkit-scrollbar{
    width: 10px;
}

#cryptowidget::-webkit-scrollbar-track {
    -webkit-box-shadow:inset 0 0 10px rgba(0, 0, 0, 0.459)
}

#cryptowidget::-webkit-scrollbar-thumb {
    -webkit-box-shadow:inset 0 0 10px rgba(0, 0, 0, 0.534)
} */

.widgetbox {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 20px 0 !important;
    padding: 20px;
}

.widgetboxinner {
    width: 96%;
    
    /* overflow: auto; */
}

/* .widgetboxinner::-webkit-scrollbar{
    width: 10px !important;
}

.widgetboxinner::-webkit-scrollbar-track {
    -webkit-box-shadow:inset 0 0 10px rgba(0, 0, 0, 0.459) !important;
}

.widgetboxinner::-webkit-scrollbar-thumb {
    -webkit-box-shadow:inset 0 0 10px rgba(0, 0, 0, 0.534) !important;
} */



@media (max-width:400px) {
   #div2box {
        width: 94%;
    }
}

.bgRed {
    background-color: rgb(255, 21, 21);
}

.bgOrange {
    background-color: orange;
}

.bgOrangeRed {
    background-color: orangered;
}

.bgDogeBlue {
    background-color: dodgerblue;
}

.bgGreen {
    background-color: green;
}

.bgBlue {
    background-color: rgb(31, 34, 248);
}

.bgPalePurple {
    background-color: rgb(252, 145, 243);
}

.bgPurple {
    background-color: purple;
}